*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.hero-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 10px;
}


nav{
    width: 1535px;
    
}
.logo {
    width: 139px;
    height: 60 px;
     padding-left: 60px;
}
.btn{
    background-color:#469165;
    border-radius: 4px;
    padding: 16px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 60px;
}
nav.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.first ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
.first ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    
    
}
#banner{
    background-color: #F9E2E2;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    text-align: center;
}

#banner-p p{
    align-items: center;
}

section{
    background-color: #ffffff;
    background-image: url("../B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
  
}

.color{
    color:black;
    
}

#banner .banner-content p{
  
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    background: white;
    color: #30b868;

    border-radius: 999px;
    margin: 0 auto 20px;
    width: fit-content;

}
#banner .banner-content h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
      color: white;
}
.color-green{
    color: #30b868;
}
#banner .banner-content h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 24px;
      margin-bottom: 18px;
        color: white;
}
.btn{
    margin-right: 60px;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}